<style>
    head {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
        width: 50%;
        height: 50%;
    }

    body {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        font-family: "Arial", Arial, Sans-serif;
        background-color: black;
    }
        
    h1 {
        font-size: 20px;
        font-style: italic;
        color: white;
        margin-top: 50px;
    }
</style>
<head>
    <img src="/img/hello_world.gif" alt="hello_world_gif">
</head>
<body>
    <h1>This is the homepage of George's Hello World on Node.JS</h1>
</body>
