<style>
    head {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    body {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        font-family: "Arial", Arial, Sans-serif;
    }
        
    h1 {
        font-size: 40px;
        font-style: italic;
    }

    p {
        line-height: 20px;
        padding-left: 17px;
    }

    .rounded-corners {
        border-radius: 10px;
    }
</style>
<head>
    <img src="/img/hello_world.gif" alt="hello_world_gif" width="100%" height="auto" class="rounded-corners">
</head>
<body>
    <h1 style="text-align: center;">Hello World, this is your captain speaking</h1>
    <p style="text-align: center">I have a 404 page!</p>
</body>
