<head>
    <img src="/img/hello_world_logo.jpeg" alt="helloworld_logo" style="display: block; margin-left: auto; margin-right: auto;" width="50%">
</head>
<body>
    <h1 style="text-align: center;">Hello World, this is your captain speaking</h1>
    <p style="text-align: center">I have a 404 page!</p>
</body>
